.btn {
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 150px;
    background-color: #1c293a;
    line-height: 40px;
    text-align: center;
    position: relative;
    margin: 15px;
    color: #f7f7f7;
}

.btn:before,
.btn:after
{
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
/* btn-2 */
.btn-2:before {
    content: '';
    width: 150px;
    height: 40px;
    position: absolute;
    top: 0%;
    left: 0%;
    box-sizing: border-box;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.btn-2:hover:before {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
}